<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GldaniParkService.Properties.Settings.ConnectionString"
            connectionString="hi" />
        <add name="GldaniParkService.Properties.Settings.ConnectionTimeOut"
            connectionString="180" />
    </connectionStrings>
</configuration>